openapi: 3.0.3
info:
  version: v1
  title: FarmStall API
servers:
- url: https://farmstall.designapis.com/v1
paths:
  /reviews:
    post:
      description: Create a new Review
      security: 
      - MyUserToken: []
      requestBody:
        description: A new Review
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  example: An awesome time for the whole family.
                rating:
                  type: integer
                  example: 5
                  minimum: 1
                  maximum: 5
      responses:
        '201':
          description: Successfully created a new Review
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: An awesome time for the whole family.
                  rating:
                    type: integer
                    example: 5
                    minimum: 1
                    maximum: 5
                  userId:
                    type: string
                    nullable: true
                    pattern: '^[0-9a-fA-F\-]{36}$'
                    example: 3b5b1707-b82c-4b1d-9078-157053902525
                  uuid:
                    type: string
                    pattern: '^[0-9a-fA-F\-]{36}$'
                    example: 3b5b1707-b82c-4b1d-9078-157053902525
  /users:
    post:
      description: Create a new user
      requestBody:
        description: User details
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: ponelat
                password:
                  type: string
                  format: password
                fullName:
                  type: string
                  example: Josh Ponelat
      responses:
        '201':
          description: Successfully created a new user
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    example: ponelat
                  uuid:
                    type: string
                    example: f7f680a8-d111-421f-b6b3-493ebf905078
  /tokens:
    post: 
      description: Create a new token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: ponelat
                password:
                  type: string
                  format: password
          
      responses:
        '201':
          description: Create a new token for gaining authenticated access to resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    
components:
  securitySchemes:
    MyUserToken:
      type: apiKey
      in: header
      name: Authorization