openapi: 3.0.3
info:
  version: v1
  title: FarmStall API
  description: |-

    An API for writing reviews about your favourite (or worst) farm stalls.

    ![Picture of produce](https://farmstall.designapis.com/img/produce-banner.jpg)

    ---

    # Auth

    To create **Reviews** without being _anonymous_. You need to add a **MyUserToken** to the `Authorization` header.

    To get a **MyUserToken**:
    1. Create a **User** with [POST /users](#Users/post_users)
    1. Get a **MyUserToken** by calling [POST /tokens](#Users/post_tokens) with your **User** credentials.

    # Reviews
    Reviews are the heart of this API. <br/>
    Registered **Users** and anonymous users can both write reviews based on their experience at farm stalls. <br/>

    Each review comes with a rating of between one and five stars inclusive.

    - One star being the worst experience
    - Five stars being the best


    ### Example Reviews

      "A wonderful time!" &mdash; Bob McNally
      <br/>
      ![5 stars](https://farmstall.designapis.com/img/rating-5.png)

      "An awful place" &mdash; _Anonymous_
      <br/>
      ![1 star](https://farmstall.designapis.com/img/rating-1.png)

      "A totally average place." &mdash; Jane Fair
      <br/>
      ![3 stars](https://farmstall.designapis.com/img/rating-3.png)

  contact:
    name: Josh Ponelat
    email: jponelat+daso@gmail.com
    url: https://farmstall.designapis.com

  license:
    url: https://www.apache.org/licenses/LICENSE-2.0
    name: Apache 2.0

externalDocs:
  url: https://farmstall.designapis.com
  description: Hosted docs
servers:
- url: 'https://farmstall.designapis.com/v1'

paths:
  /reviews:
    get:
      tags:
        - Reviews
      description: Get a list of reviews
      parameters:
      - name: maxRating
        in: query
        schema:
          type: number
      responses:
        '200':
          description: A bunch of reviews
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    rating:
                      type: integer
                      minimum: 1
                      maximum: 5
                    message:
                      type: string
                      example: An awesome time for the whole family.
                    uuid:
                      type: string
                      pattern: '^[0-9a-fA-F\-]{36}$'
                      example: 3b5b1707-b82c-4b1d-9078-157053902525
                    userId:
                      type: string
                      pattern: '^[0-9a-fA-F\-]{36}$'
                      nullable: true
                      example: 3b5b1707-b82c-4b1d-9078-157053902525

 